# This file is used to set environment variables for the Vagrantfile.

# master conf
VmMaster_IP=

# worker conf
VmWorker_IP=

# docker conf
docker_username=
docker_access_key=

#RABBITMQ (Placeholder)
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_QUEUE=

#billing service conf
BILLING_DB_USER=
BILLING_DB_PASS=
BILLING_DB_NAME=
BILLING_DATABASE_URL=
BILLING_DB_PORT=

#inventory service conf
INVENTORY_DB_USER=
INVENTORY_DB_PASS=
INVENTORY_DB_NAME=
INVENTORY_DB_PORT=

INVENTORY_DATABASE_URL=
INVENTORY_PORT=
INVENTORY_HOST=
INVENTORY_HOST_INTERFACE=

#api-gateway conf
API_GATEWAY_PORT=
API_GATEWAY_HOST=